@use "../../../colours" as *;

.modalBackground {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($surface-dark, 0.88);
    top: 0;
    left: 0;
}

.modal {
    background-color: $white;
    position: relative;
    width: 959px;
    height: 699px;
    box-shadow: $drop-shadow;


    .modalContent {
        padding: 10% 155px 107px 155px;
        display: flex;
        flex-direction: column;

        // styling for the close button.
        .close {
            cursor: pointer;
            transition: all .2s ease;
            padding: .5rem;
            border-radius: 50px;
            width: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1rem;
            position: absolute;
            top: .5rem;
            right: .5rem;

            svg line {
                stroke-width: 2rem;
                transition: all .2s ease;

            }

            &:hover {
                background: #ec6a6a8a;

                svg line {
                    stroke: $white;
                }
            }
        }
        // error message that shows up when you try and submit a blank pseudonym and/or message
        .error {
            position: absolute;
            bottom: 1rem;
            padding: 1rem;
            margin-top: 1rem;
            background: #ec6a6a8a;
            color: #ff0000;
            width: 656px;
            ;
            border-radius: 50px;
            text-align: center;
        }


        // psuedonym and message input styling
        input {
            margin-top: 2rem;
            width: calc(650px - 4rem);
            height: calc(80px - 2rem);
            border-radius: 50px;
            padding: 1rem 2rem;
        }

        textarea {
            max-width: calc(650px - 4rem);
            min-width: calc(650px - 4rem);
            max-height: 236px;
            min-height: 236px;
            border-radius: 50px;
            padding: 2rem 2rem;
            resize: none;
        }

        input,
        textarea {
            outline: none;
            border: 3px solid $brand;
            font: $post-user-font;
            transition: all .2s ease;

            &:focus {
                box-shadow: $drop-shadow;
            }
        }

        // the submit button
        .modalButton {
            margin-top: 1rem;
            cursor: pointer;
            width: 299px;
            height: 80px;
            padding: 1rem;
            color: $white;
            background: $brand;
            border-radius: 50px;
            border: 3px solid $brand;
            font: $modal-button-font;
        }
    }
}