// Import SCSS components
@use "./components/index.scss";
@use "./colours" as *;

// Import necessary fonts and stylesheets
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// remove annoying margins and padding from everything
* {
  padding: 0;
  margin: 0;
}
// Base styling
body {
  background: $surface-light;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 1rem;
}